body {
    margin: 0 5em;
}

#perguntas > * {
    margin: 1em 3em;
    max-width: 100%;
}

#espaco-resposta {
    width: 80%;
}

body > header {
    text-align: center;
}

#cidade , #campo , #praia , #montanha {
    margin-right: 3em;
}

button {
    margin-bottom: 3em;
}